html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
}

#header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.header-link {
    color: #000;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}

.header-link:hover {
    text-decoration: underline;
}

#products {
    border-radius: 9999px;
    overflow: hidden;
    display: flex;
    width: min-content;
    padding: 8px;
    color: #5f6368;
    margin-left: 15px;
}

#products:hover {
    background-color: #f2f2f2;
}

#login {
    color: #fff;
    border-radius: 4px;
    background-color: #1a73e8;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 23px;
    margin-left: 15px;
}

#login:hover {
    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

#filler {
    flex-grow: 1;
}

#logo {
    display: flex;
    justify-content: center;
    height: calc(100% - 560px);
    min-height: 92px;
    align-items: flex-end;
}

#logo img {
    height: 92px;
}

#footer {
    background-color: #f2f2f2;
}

#footer-country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

#footer-links {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    color: #70757a;
    display: block;
    padding: 15px;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.footer-link:hover {
    text-decoration: underline;
}

#footer-links-block1, #footer-links-block2 {
    display: flex;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#search-buttons {
    height: 70px;
    padding-top: 38px;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 10px 16px;
    text-align: center;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#search-place {
    width: 100%;
}

#search-box {
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    display: flex;
    border: 1px solid #dfe1e5;
    background-color: #fff;
    border-radius: 24px;
    padding: 6px;
    align-items: center;
}

#search-box:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

#search-input {
    background-color: transparent;
    border: none;
    margin: 0 6px;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    outline: none;
    display: flex;
    flex: 100%;
    font-size: 16px;
    height: 34px;
}

#search-box span {
    margin-left: 6px;
    margin-right: 6px;
    color: #9aa0a6;
    font-size: 20px;
}